*{
    padding:0;
    margin:0;
}
#nav{
    width:100%;
    height:30px;
}
#content{
    width:100%;

}
#nav{
    margin: auto; 
    width:100%;
    text-align: center;
    height: 40px;
    line-height:40px;
    font-size:120%;
}
#SeedHeader{
    margin: auto; 
    width:100%;
    text-align: center;
    height: 40px;
}
#contentWrapper{
    margin: auto; 
    width:90%;
    text-align: center;
}
#songGet{
    margin: auto;
    width:100px;
    height:30px;
    background: yellowgreen;
    color:black;
    font-size: 20px;
    padding:5px;
    user-select: none;
    cursor: pointer;
}
